/**** CUSTOM CSS ****/

/* Site Title */

#campaign #funding_area .campaign_title {
  font-family: Futura, “Trebuchet MS”, Arial, sans-serif;
  text-transform: uppercase;
}

/* Contribute Button */

.blue_button {
  font-family: Futura, “Trebuchet MS”, Arial, sans-serif;
  background-image: #0000AB;
  background-image: -moz-linear-gradient(90deg, #0000AB 0%, #0000AB 100%);
  background-image: -o-linear-gradient(90deg, #0000AB 0%, #0000AB 100%);
  background-image: -webkit-linear-gradient(90deg, #0000AB 0%, #0000AB 100%);
  background-image: linear-gradient(90deg, #0000AB 0%, #0000AB 100%);
}

.blue_button:hover {
  background-image: #0000AB;
  background-image: -moz-linear-gradient(90deg, #0000AB 0%, #0000AB 100%);
  background-image: -o-linear-gradient(90deg, #0000AB 0%, #0000AB 100%);
  background-image: -webkit-linear-gradient(90deg, #0000AB 0%, #0000AB 100%);
  background-image: linear-gradient(90deg, #0000AB 0%, #0000AB 100%);
}

/* Progress Bar */

#campaign #funding_area #progress_bg #progress {
  background-image: -moz-linear-gradient(90deg, #0000AB 0%, #069df4 100%);
  background-image: -o-linear-gradient(90deg, #0000AB 0%, #069df4 100%);
  background-image: -webkit-linear-gradient(90deg, #0000AB 0%, #069df4 100%);
  background-image: linear-gradient(90deg, #0000AB 0%, #069df4 100%);
}
