<!-- Backgorund television -->
<div id="television">
        <div class="top">
                <div class="sx"></div>
                <div class="cx"></div>
                <div class="dx"></div>
                <div class="clear"></div>
        </div>
        <div class="middle">
                <div class="sx"></div>
                <div class="dx"></div>
                <div class="clear"></div>
        </div>
        <div class="bottom">
                <div class="sx"></div>
                <div class="cx"></div>
                <div class="dx"></div>
                <div class="clear"></div>
        </div>
</div>

