<!-- Navigation -->
<ul style="width: 100%; margin: auto;">
  <li>[<a class="color_yellow navigation" href="/" title="Home">HOME</a>]</li>
  <li>[<a class="color_blue navigation" href="/about" title="About">ABOUT</a>]</li>
  <li>[<a class="color_green navigation" style="text-decoration:line-through" href="/submit" title="Submit">SUBMIT</a>]</li>
  <li>[<a class="color_orange navigation" href="/donate" title="Donate">DONATE</a>]</li>
  <!-- <li>[<a class="color_red navigation" href="javascript:void(0);" title="Portfolio">Portfolio</a>]</li> -->
  <li>[<a class="color_fucsia navigation" href="/contact" title="Contact">CONTACT</a>]</li>
</ul>

<div class="clear"></div>
<br>
