<!-- Navigation -->
<div class="navigation">
 <ul>
  <li>&gt; <a class="color_yellow" href="/" title="Home">HOME</a></li>
  <li>&gt; <a class="color_blue" href="/about" title="About">ABOUT</a></li>
  <li>&gt; <a class="color_green" href="/submit" title="Submit">SUBMIT</a></li>
  <!-- <li>&gt; <a class="color_orange" href="javascript:void(0);" title="Blog">Blog</a></li> -->
  <!-- <li>&gt; <a class="color_red" href="javascript:void(0);" title="Portfolio">Portfolio</a></li> -->
  <li>&gt; <a class="color_fucsia" href="/contact" title="Contact">CONTACT</a></li>
</ul>
</div>
<div class="clear"></div>
<br>
