<span class='st_twitter_hcount' displayText='Tweet'></span>
<span class='st_tumblr_hcount' displayText='Tumblr'></span>
<span class='st_facebook_hcount' displayText='Facebook'></span>
<span class='st_fbsend_hcount' displayText='Facebook Send'></span>
<span class='st_googleplus_hcount' displayText='Google +'></span>
<span class='st_reddit_hcount' displayText='Reddit'></span>
<span class='st_wordpress_hcount' displayText='WordPress'></span>
<span class='st_pinterest_hcount' displayText='Pinterest'></span>
<span class='st_linkedin_hcount' displayText='LinkedIn'></span>
<span class='st_myspace_hcount' displayText='MySpace'></span>
<span class='st_orkut_hcount' displayText='Orkut'></span>
<span class='st_buffer_hcount' displayText='Buffer'></span>
<span class='st_delicious_hcount' displayText='Delicious'></span>
<span class='st_google_reader_hcount' displayText='Google Reader'></span>
<span class='st_email_hcount' displayText='Email'></span>