{% include header_start.html %}

<?php
    @include("Mobile_Detect.php");
    $detect = new Mobile_Detect();
    if ($detect->isMobile() && isset($_COOKIE['mobile']))
    {
    $detect = "false";
    }
    elseif ($detect->isMobile())
    {
    header("Location:{{ site.mobile_url  }}");
    }
?>

{% include header_end.html %}

<body>

  {% include background.html %}

  <div id="content">

    {% include description.html %}

    <div class="block">

      {% include navigation.html %}

      {{ content }}

    </div>

  </div>

</body>
