{% include header_start.html %}

<?php
    @include("mobile_detect.php");
    $detect = new mobile_detect();

    if ($detect->isMobile())
    {
      $detect = "false";
    }
    elseif ($detect->isMobile())
    {
      header("Location:{{ site.mobile_url }}");
    }
?>

{% include header_end.html %}

<body>

  {% include background.html %}

  <div id="content">

    {% include description.html %}

    <div class="block">

      {% include navigation.html %}

      {{ content }}

    </div>

  </div>

</body>
